body {
    margin: 0;
    font-family: "Avenir", "Trebuchet MS", Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #575757;
    background-color: #fff;
}

code, pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
